<div class="sidebar">
  <a class="active" (click)="openTab('gallery')">Gallery</a>
  <a (click)="openTab('blog')">Blogs</a>
</div>

<div *ngIf="showLoader" class="loading"></div>

<div class="content">
  <h1 class="text-center">Admin Panel</h1>
  <!-- <div class="logo-img" *ngIf="islogoShow">
  <img src="../assets/img/bg-img/logogold.png" alt="logoimg" class="logo-img">
  </div> -->
  <div class="innertab">
    <div #gallerySection class="gallery" [hidden]="isgalleryShow==false">
      <div class="container-header d-flex justify-content-between">
        <h4>Gallery section</h4>
        <a class="btn btn-primary" (click)="openGalleryForm()" data-toggle="modal" data-target="#addGallery">Add <span>+</span></a>
      </div>
        <div class="row" #images >
          <div *ngFor="let element of imageRecords" class=" col-md-3 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="{{element.imageURL}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{element.caption}}</h5>
                <a (click)="deleteImage($event,element)" class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="blogs" [hidden]="isgalleryShow==true" #blogSection>
      <div class="container-header d-flex justify-content-between">
        <h4>Blog section</h4>
        <a class="btn btn-primary" data-toggle="modal" (click)="openBlogForm()" data-target="#addBlogs">Add <span>+</span></a>
      </div>
      <div #blogPosts class="row" >
        <div *ngFor="let element of blogPostRecords" class=" col-md-3 col-sm-6">
          <div class="card">
              <img class="card-img-top" src="{{element.imageURL}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{element.subject}}</h5>
              <p class="card-text">{{element.body}}</p>
              <a class="btn btn-primary" (click)= "deletePost($event,element)" >Delete</a>
              <!-- <a class="btn btn-primary" (click)= "editPost($event,element)">Edit</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blogs" [hidden]="isgalleryShow==false" #blogSection>
      <div class="container-header d-flex justify-content-between">
        <h4>Youtube section</h4>
        <a class="btn btn-primary" data-toggle="modal" (click)="openYoutubeForm()" data-target="#addBlogs">Add <span>+</span></a>
      </div>
      <div #blogPosts class="row" >
        <div *ngFor="let element of youtubeRecords" class=" col-md-3 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{element.url}}</h5>
              <p class="card-text">{{element.title}}</p>
              <a class="btn btn-primary" (click)= "deleteYoutube($event,element)" >Delete</a>
              <!-- <a class="btn btn-primary" (click)= "editPost($event,element)">Edit</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--gallery Modal -->
<div class="modal" [hidden]="hideImageForm || isgalleryShow==false">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-center">
      <div class="modal-header">
        <h5 class="modal-title" id="addGallery">Add Gallery Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/uploadImage" method="POST" enctype="multipart/form-data"><!--correct api name....................................-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <input name="myImage" type="file" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose Photos</label>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Caption</label>
                <input name="caption" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Rockstar">
              </div>
              <div class="modal-footer top-m-medium">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="submit" class="btn btn-primary">Add Photos</button>
              </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- blogs modal -->
<div class="modal" [hidden]="hideBlogForm || isgalleryShow==true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-center">
        <div class="modal-header">
          <h5 class="modal-title" id="addBlogs">Add Blogs Section</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/api/insertPost" method="POST" enctype="multipart/form-data"> <!--correct api name....................................-->
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input name="myImage" type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose Photos</label>
                  </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Subject</label>
                    <input name="subject" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Village Voice Studio">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Body</label>
                    <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
                    <button type="submit" class="btn btn-primary">post</button>
                  </div>
          </form>
        </div>
        
      </div>
      <div class="backdrop"></div>
    </div>
  </div>

<!-- blogs modal -->
<div class="modal" [hidden]="hideYoutubeForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-center">
      <div class="modal-header">
        <h5 class="modal-title" id="addBlogs">Add Youtube links Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/insertYoutubeURL" method="POST" enctype="multipart/form-data"> <!--correct api name....................................-->
            <div class="input-group mb-3">
                <div class="custom-file">
                  <label for="inputGroupFile01">Youtube Link</label>
                  <input name="url" type="text" class="form-control" id="inputGroupFile01">
                </div>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1">Title</label>
                  <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Village Voice Studio">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">About</label>
                  <textarea name="about" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
                  <button type="submit" class="btn btn-primary">post</button>
                </div>
        </form>
      </div>
      
    </div>
    <div class="backdrop"></div>
  </div>
</div>

